{% extends bill_base %}
{% load static %}


{% block title %} Nº Factura de Venta : {{ bill.billno }}{% endblock title %}


{% block content %}
    
    <div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;"> Nº Factura de Venta : {{ bill.billno }}</div>

    <!-- <br><br> -->

    <form method="post">
    {% csrf_token %}

        <div class="bg">

            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                    
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">
                                Boleta - Envio</p> </td>
                        </tr>
                    
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 350%;">MusicPro</span> <br>
                                <span style="font-size: 120%; font-weight: bold;">
                                    DISTRIBUIDORES EN : Productos</span> <br>
                                <span style="font-weight: bold;">DIRECCIÓN DE REGISTRO :</span> 971 MusicPro<br>San Joaquin, DuocUC<br>
                                <span style="font-weight: bold;">EMAIL : musicpro@gmail.com</span> <br><br>
                            </td>
                        </tr>
                    
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">Nº Gestion - 123456789MusicPro</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;
                                            NOMBRE DE SUCURSAL</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;Factura Nº</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;Fecha</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto; margin-top: 10px;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 5%; font-weight: bold; text-align: center;">&nbsp;PRODUCTOS</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">
                                            NOMBRE</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">CANTIDAD</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">
                                            VALOR PRODUCTO</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">
                                            TOTAL $</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">
                                            CODIGO SEGUIMIENTO
                                        </td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice }}</td>
                                            <td class="inner-box" style="width: 12%;"><input type="text" name="codigo_seguimiento" value="{{ billdetails.codigo_seguimiento }}" class="textinput form-control"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; ">
                                <!-- FINAL TEXT -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <br><br> -->

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Imprimir</button>
            <button class="center btn btn-success" type="submit">Guardar Borrador</button>
            <a href="{% url 'sales-list' %}" class="btn center btn-secondary">Volver</a>
        </div>
    
    </form>
    
    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}